body{
    font-family: Cormorant, serif;
    box-sizing: border-box;
}

.navbar{
    margin: 32px;
    padding-right: 20px;
}

h1{

    display: inline-block;
    margin: 0 32px 0 0;
    font-weight: 400;
    
}

li{
    display: inline-block;
    padding: 0;
  
}

.links, link li{
    display: inline-block;
    
}
.links li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;

}
.links ul{
    padding: 0;
}
a.active{
    border-bottom: 1px solid black;
}

.card  {
    width: 45.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 25px;
   
    
}
.card h2{
    display: inline-block;
    margin: 0px;
    font-weight: 300;
}

.card img{
    width: 100%;
    /*Corregir el tamano de las imagenes para tener la misma medida*/
    height: 500px;
    object-fit:cover;
}

.gallery{
    padding: 60px;
}
.about{
    width: 40%;
    padding-left: 10%;
}

.about h3{
    font-size: 40px;
    font-weight: 300px;
    min-width: 600px;
}

.slogan h3 {
    border-bottom: 1px solid black;
}


